*{
    padding: 0;margin: 0;box-sizing: border-box;
}
.ContactUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.headdingPara{
    display: inline;
    font-family: poppins;
    color: #005C78;
}
.ContactUs h1{
    font-family: poppins;
    color: #FF0000;
}
.contactUsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    font-family: poppins;
}
.right-contact-us-section{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left-contact-us-section{
    flex: 1;
}
.right-contact-us-section button{
    
    height: 60px;
    width: 200px;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: #005C78;
    color: #DCF2F1;
    font-family: poppins;
    font-size: 15px;
    cursor: pointer;
    font-weight: bolder;
}
.firstText{
    color: #FF0000;
}
.secondText{
    color: #005C78;
}
.contactUscharm1{
    position: absolute;
    height: 100px;
    right: 20%;
}
.contactUscharm3{
    position: absolute;
    height: 150px;
    left: 10%;
}